.homecontainer {
  margin: 0 auto;
}

.tour {
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 30px;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-align: center;
}

.tour:hover {
  transform: translateY(-20px);
  opacity: 0.7;
}

.tour:hover h2 {
  transform: scale(1.3);
}
