.homecontainer{
  margin: 0 auto;
}

.choose {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 30px;
  max-width: 1500px;
  padding: 50px;
   margin: 0 auto;
}

.choose img {
  width: 100%;
  height: 100%;
}

.choose div h2 {
  position: absolute;
  padding: 23% 38%;
  width: 100%;
  font-size: 2rem;
}

.tour:hover ,
.trek:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}

.tour:hover h2,
.trek:hover h2 {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
